<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="dbkeyHelper" class="com.cangoonline.risk.common.DBKeyHelper">
		<property name="dataSource" ref="dataSource" />
		<property name="snTableName" value="t_object_maxsn" />
		<property name="cachesize" value="1"/>
	</bean>

</beans>
