<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!--等待策略-->
	<bean id="sleepingWaitStrategy" class="com.lmax.disruptor.SleepingWaitStrategy" />
	<bean id="blockingWaitStrategy" class="com.lmax.disruptor.BlockingWaitStrategy" />
	<bean id="busySpinWaitStrategy" class="com.lmax.disruptor.BusySpinWaitStrategy" />
	<bean id="yieldingWaitStrategy" class="com.lmax.disruptor.YieldingWaitStrategy" />

	<!-- worker配置 -->
	<bean id="riskDecisionTaskConsumer1" class="com.cangoonline.riskdecision.message.consumer.RiskDecisionTaskConsumer"/>
	<bean id="riskDecisionTaskConsumer2" class="com.cangoonline.riskdecision.message.consumer.RiskDecisionTaskConsumer"/>
	<bean id="workerService" class="com.cangoonline.disruptor.service.WorkerService">
		<property name="consumers">
			<list>
				<ref bean="riskDecisionTaskConsumer1" />
				<ref bean="riskDecisionTaskConsumer2" />
			</list>
		</property>
		<property name="poolSize" value="10" />
		<property name="waitStrategy" ref="sleepingWaitStrategy" />
	</bean>

</beans>
